

 <h1 id="head" >Global Solar </h1>
 <p id="pitch">Clean, reusable energy, in the sky</p>

<div class="mid_container">
  <div class="icon_box">
    <img id="icon" src="/images/sunicon.png" alt="">
  </div>
    <p id="mission">Our Mission</p>
      <br>
    <p id="mission_container" >
        To bring awareness to people, communites, and buisnesses worldwide about the benefits of choosing Global Solar!
    </p>
</div>
