<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="solar.css">
    <title>Media Query</title>
  </head>
  <body>
  <div class="nav">
      <a href="http://www.bestbuy.com/site/misc/new-technology/pcmcat234500050002.c?id=pcmcat234500050002" class="linkref" >Home</a>
      <a href="http://www.bestbuy.com/site/misc/new-technology/pcmcat234500050002.c?id=pcmcat234500050002" class="linkref" >About</a>
      <a href="http://www.bestbuy.com/site/misc/new-technology/pcmcat234500050002.c?id=pcmcat234500050002" class="linkref" >Contact</a>
      <a href="http://www.bestbuy.com/site/misc/new-technology/pcmcat234500050002.c?id=pcmcat234500050002" class="linkref" >Photos</a>

      <form class="search">
        <button id="searchbutt" type="button">Search</button>
        <input type=""></input>
      </form>
  </div>
  <div class="container">
    <div class="text">
      <h1>Solar Energy</h1>
        <button id="buttons" type="button">Shop Now</button>



  <%= yield %>

  </body>
</html>
