body {
  margin: 0px;
  padding: 0px;
  background-image: url("/images/Solarphoto1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

/* This is the Nav Bar */
.nav {
  position: relative;
  background-color: orangered;
  color: white;
  width: 100%;
  height: 70px;
  text-align: center;
  opacity: .9;
}

.linkref {
  float: left;
  color: white;
  text-decoration: none;
  padding: 23px;
  font-size: 20px;
  display: block;
}


a:hover {
  background-color: orange;
}
/*End Nav Bar*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#head {
  position: relative;
  top: 220px;
  text-align: center;
  font-size: 2.8em;
  animation-name: fadeIn 5s ;
  -webkit-animation: fadeIn 5s ;
  -moz-animation: fadeIn 5s ;
  -o-animation: fadeIn 5s ;
  animation: fadeIn 5s ;
  margin: 0px;
}


#pitch {
  position: relative;
  top: 260px;
  text-align: center;
  font-size: 18px;
  animation-name: fadeIn 5s ;
  -webkit-animation: fadeIn 5s ;
  -moz-animation: fadeIn 5s ;
  -o-animation: fadeIn 5s ;
  animation: fadeIn 5s ;
  margin: 0px;
  color: white

}

/*This is our header*/
#footer{
  border-top: 7px gold solid;
  position: relative;
  max-width: 100%;
  height: 550px;
  background-color: white;
  top: 652px;

}

#footer_img {
  height: 100%;
  width: 100%;
  opacity: .7;
}

/*Div in between main image and footer iamge*/
.mid_container {
    position: relative;
    height: 200px;
    max-width: 100%;
    background-color: white;
    top: 652px;
    border-top: 7px gold solid;
}

/*"Our Mission" font*/
#mission {
  position: relative;
  bottom: 80%;
  left: 46%;
  font-size: 2em;
  margin: 0px;

}

#mission_container {
  position: relative;
  bottom: 90%;
  left: 42%;
  width: 34%;
  line-height: 2;
}

.social_media {
position: relative;
bottom: 60%;
left: 40%;
width: 25%;
height: 40%;
font-size: 40px;
color: white;
background-color: rgba(105,105,105, .9);
border-radius: 5px;
border: .01em gold solid;
}

#media {
  padding-top: 180px;
  margin-left: 30px;
}

.icon_box {
  position: relative;
  height: 90%;
  width: 200px;

}

#icon {
  position: absolute;
  top: 10px;
  max-width: 100%;
  height: 100%;
}

.email_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#subscribe {
  text-align: center;
}
/*bulb container*/
.tag {
  position: absolute;
  width: 90px;
  height: 70px;
  left: 30%;

}
/*Bulb Icon*/
#bulb {
  position: absolute;
  width: 100%;
  height: 100%;
}
/*Text*/
#educate {
  position: absolute;
  top: 60px;
  left: -30px;
  font-size: 15px;
  word-spacing: 10px;
}
